/**
 * This will eventually get merged into SASS or at least
 * broken out into separate files.
 */

html {
    font-size: 75%;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

header {
    border-bottom: 4px solid #C56BDE; /* ccc*/
    height: 5rem;
    width: 100%;
    background: #f1f1f1;
}

#logo {
    height: 5rem;
    line-height: 5rem;
    padding-left: 2rem;
}

#topnav {
    height: 5rem;
    padding: 0.75rem;
    text-align: right;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav li.active a {
    color: #ab51c4;
    font-weight: bold;
}

nav {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding-top: 1.75rem;
    padding-left: 2rem;
    position: fixed;
    top: 5rem;
    width: 20rem;
}

nav #mailboxes {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-left: 1.25rem;
}

nav #mailboxes li {
    margin-bottom: 0.25rem;
}

nav #folders {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
}

nav #folders li {
    margin-bottom: 0.25rem;
    padding-left: 1.25rem;
    position: relative;
}

nav #folders li:before {
    content: '\f0da';
    font-family: FontAwesome;
    left: -0.25rem;
    position: absolute;
    top: 0.1rem;
    width: 1.25rem;
}

section#main {
    bottom: 0;
    left: 20rem;
    position: fixed;
    right: 0;
    top: 5rem;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-size: 2rem;
    text-transform: none;
}

.icon.button {
    height: 3.5rem;
    line-height: 3.4rem;
    padding: 0 1rem;
}

.button.button-primary {
    font-size: 1.75rem;
    background-color: #ab51c4;
    border-color: #ab51c4;
    height: 3.5rem;
    line-height: 3.4rem;
    padding: 0 1.25rem;
}

.button.button-primary:hover {
    background-color: #9238ab;
    border-color: #9238ab;
}

.button span.normal {
    font-size: 1.5rem;
    position: relative;
    top: -0.2rem;
}

section #msg-actions {
    border-bottom: 1px solid #ddd;
    height: 4.5rem;
    margin-right: 2rem;
    padding-top: 1.75rem;
}

section #msg-actions a.button:not(:last-child) {
    margin-right: 0.75rem;
}

section #msg-list {
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: 6.25rem;
    width: 100%;
}

section #msg-list h5 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
}

section #msg-list h5 .arrow {
    font-size: 1.5rem;
    position: relative;
    top: -0.15rem;
}

section #msg-list h5 span {
    margin-left: 0.5rem;
}

section #msg-list ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

/* Helpers */
.inline-blocked {
    display: inline-block;
}

.blocked {
    display: block;
}

.inlined {
    display: inline;
}

/* Dropdowns */
.dropdown {
    position: relative;
}

.dropdown > a {
    background-color: #fff;
    position: relative;
}

.dropdown ul {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px
    color: #333;
    display: none;
    list-style-type: none;
    min-width: 16rem;
    padding: 0.25rem 0;
    position: absolute;
    top: calc(3.5rem - 1px);
    z-index: 10;
}

.dropdown ul.right-menu {
    right: 0;
}

.dropdown ul.size-medium {
    width: 22rem;
}

.dropdown ul.size-large {
    width: 25rem;
}

.dropdown > a:focus {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 11;
}

.dropdown > a:focus ~ ul,
.dropdown ul:hover {
    display: block;
}

.dropdown > a:focus ~ ul {
    border-color: #888;
}

.dropdown li {
    margin: 0;
    padding: 0;
}

.dropdown li a,
.dropdown li input[type="submit"] {
    background: #fff;
    border: none;
    color: #333;
    display: block;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: left;
    text-decoration: none;
}

.dropdown li input[type="submit"] {
    font-weight: normal;
    height: 2.5rem;
    letter-spacing: normal;
    line-height: 1.5rem;
    width: 100%;
}

.dropdown li a:hover,
.dropdown li input[type="submit"]:hover {
    background-color: #eee;
}

.dropdown li.notice {
    border-top: 1px solid #ddd;
    color: #999;
    line-height: 2rem;
    margin-top: 0.25rem;
    padding: 0.66rem 1rem;
}