parameters:
    level: 2
    paths:
        - src
        - views
    fileExtensions:
        - php
        - phtml
    bootstrapFiles:
        - config/constants.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
