/**
 * Actions Menu
 * This is the menu above the mailboxes that allows for interactivity
 * with the messages when they're selected.
 *
 * z-index range: 26-30
*/
section #msg-actions {
  border-bottom: 1px solid #ddd;
  height: 4.5rem;
  margin-right: 1rem;
  padding-top: 1.75rem;
}

section #msg-actions .control {
  box-sizing: border-box;
  height: 3.5rem;
}

section #msg-actions a.button {
  margin-bottom: 0;
}

.menu {
  z-index: 26;
}

.menu .control {
  margin-right: 0.75rem;
}

.menu.default {
  background: #fff;
  position: fixed;
  top: calc(6.75rem);
}

.menu.actions {
  background: #fff;
  display: none;
  position: fixed;
  top: calc(6.75rem);
}

.menu.actions.sticky {
  display: block;
}

.folder-selector {
  background-color: #fff;
  border-left: 1px solid #bbb;
  box-shadow: 0px 0px 15px #bbb;
  bottom: 0;
  right: calc(-44% + -20px);
  position: fixed;
  top: calc(5rem + 4px);
  transition: right 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 44%;
  z-index: 30;
}

.folder-selector:target {
  right: 0;
}

.folder-selector h4 {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 2.25rem;
  height: 4.5rem;
  line-height: 3.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.folder-selector h4 .close {
  color: #aaa;
  float: right;
  font-weight: normal;
}

.folder-selector input[type="search"] {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  height: 4.5rem;
  line-height: 4.5rem;
  margin: 0;
  padding: 0 1rem;
  position: absolute;
  top: calc(4.5rem + 1px);
  width: 100%;
}

.folder-selector .list {
  bottom: 5.5rem;
  box-sizing: border-box;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: calc(9rem + 1px);
}

.folder-selector .list .move-to-checkbox {
  display: none;
}

.folder-selector .list label {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 3rem;
  margin: -1px 0 0;
  padding: 0 1rem;
  position: relative;
  transition: padding 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.folder-selector .list label:first-of-type {
  margin-top: 0;
}

.folder-selector .list .move-to-checkbox:checked + label {
  background-color: #007db6;
  border-color: #006591;
  color: #fff;
  padding-left: 3.25rem;
  z-index: 26;
}

.folder-selector .list .move-to-checkbox + label:after {
  color: #fff;
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: 900;
  left: -1rem;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.165, 0.84, 0.44, 1);;
  width: 2rem;
}

.folder-selector .list .move-to-checkbox:checked + label:after {
  left: 1rem;
  opacity: 1;
}

.folder-selector .actions {
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  bottom: 0;
  box-sizing: border-box;
  height: 5.5rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.folder-selector .actions button {
  font-size: 1.5rem;
  letter-spacing: normal;
}

.folder-selector .actions button .fa {
  transform: translateY(0.0625rem);
}

.folder-selector .actions .hint {
  display: none;
  margin-left: 1rem;
}

.folder-selector .short-text {
  display: none;
}

.folder-selector input[type="search"]:invalid + .list + .actions {
  background: #ffda6d;
  border-color: #d6a70e;
}

.folder-selector input[type="search"]:invalid + .list + .actions .hint {
  display: inline-block;
}