html {
  font-size: 90%;
  height: 100%;
  width: 100%;
}

body {
  color: #222;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

section#main {
  bottom: 0;
  left: 20rem;
  position: fixed;
  right: 0;
  top: 5rem;
  z-index: 1;
}

/* Page Headers */
section#main > h5 {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  margin: 1.5rem 2rem 2rem 0;
  padding-bottom: 0.3rem;
}

section#main > h5 a {
  float: right;
  font-size: 1.5rem;
  transform: translateY(0.75rem);
}

section#main > h5 + .help-text {
  color: #555;
  font-size: 1.125rem;
  margin: -1rem 2rem 2.5rem 0;
  max-width: calc(22% + 50rem);
}

/* Margin with notifications */
section#main > #notifications {
  margin-top: 1.5rem;
}

a:hover,
a:focus {
  color: #007db6;
}

/* Alerts */
aside {
  background-color: #e46ee6;
  border-radius: 0.25rem;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  top: 0.75rem;
  z-index: 40;
}

aside h6 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

aside div:first-of-type {
  margin-bottom: 1rem;
}

aside a {
  color: #000;
  font-size: 1.25rem;
}

/* Helpers */
.align-right {
  text-align: right;
}

.blocked {
  display: block;
}

.inline-blocked {
  display: inline-block;
}

.inlined {
  display: inline;
}

.hidden {
  display: none !important;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.size-sm {
  font-size: 1rem;
}

.size-md {
  font-size: 1.2rem;
}

.strong {
  font-weight: 600;
}

/* Z-Index layers */
.top-layer {
  height: 5rem;
  padding-top: 0.75rem;
  position: relative;
  z-index: 30;
}
