.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 2rem;
  text-transform: none;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  background-color: #eee !important;
  border-color: #eee !important;
  color: #bbb !important;
}

.icon.button {
  height: 3.5rem;
  line-height: 3.4rem;
  padding: 0 1rem;
}

.icon.button .fa-caret-down {
  font-size: 1.5rem;
  position: relative;
  top: -0.15rem;
}

.icon.button .fa-plus {
  font-size: 1rem;
  position: relative;
  top: -0.35rem;
}

.button.button-primary,
.button.button-secondary,
.button.button-danger {
  color: #fff;
  font-size: 1.75rem;
  height: 3.5rem;
  line-height: 3.3125rem;
  padding: 0 1.25rem;
}

.button.button-primary {
  background-color: #ab51c4;
  border-color: #ab51c4;
}

button.button-primary:hover,
button.button-primary:focus,
.button.button-primary:hover,
.button.button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="button"].button-primary:focus {
  background-color: #9238ab;
  border-color: #9238ab;
}

.button.button-primary:not(#compose) {
  font-weight: 400;
  letter-spacing: 0;
}

.button.button-secondary {
  background-color: #1eaedb;
  border-color: #1eaedb;
  font-weight: 400;
  letter-spacing: 0;
}

.button.button-secondary:hover,
.button.button-secondary:focus {
  background-color: #0fa0ce;
  border-color: #0fa0ce;
}

.button.button-danger {
  background: #ff524e;
  border-color: #ff524e;
  color: #fff;
  font-weight: 400;
}

.button.button-danger:hover,
.button.button-danger:focus {
  background-color: #d43633;
  border-color: #d43633;
  color: #fff;
}

.button span.normal {
  font-size: 1.5rem;
  letter-spacing: normal;
  position: relative;
  top: -0.2rem;
}

.button.pill {
  position: relative;
}

.button.pill:hover {
  z-index: 23;
}

.button.pill-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.button.pill-middle {
  border-radius: 0;
  margin-right: -1px;
}

.button.pill-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
