/**
 * New message and reply to message
 */

body.page-compose header {
  z-index: 2;
}

section.compose {
  overflow-y: auto;
}

.compose form {
  margin: 0 2rem 2.5rem 0;
}

.compose .notifications {
  margin-bottom: 1.5rem;
}

.compose .row:not(.message):not(.buttons) {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.75rem;
}

.compose input[type="radio"],
.compose input[type="checkbox"].toggle {
  display: none;
}

.compose input[type="radio"]:checked + .hidden {
  display: block !important;
}

.compose .ten.columns:not(.inherit) {
  margin-left: 2rem;
  padding-bottom: 0.75rem;
}

.compose .ten.columns textarea,
.compose .ten.columns input[type="text"] {
  font-size: 1.5rem;
  margin-bottom: 0;
  max-width: 50rem;
  padding: 1rem 0.75rem;
  width: 100%;
}

.compose .ten.columns textarea {
  padding: 0.5rem 0.75rem;
}

.compose .ten.columns input[type="text"] {
  height: 3.25rem;
}

.compose .row.hidden {
  display: none;
}

.compose .row.input-row .label {
  padding-top: 0.25rem;
}

.compose .addresses .ten.columns {
  padding-bottom: 0.5rem;
  overflow: hidden;
}

.compose .addresses .ten.columns input[type="text"] {
  margin-bottom: 0.5rem;
  transition: margin-bottom 200ms ease-in-out;
}

.compose .addresses input[type="text"]:nth-child(n+2) {
  display: none;
}

.compose .addresses input[type="text"]:valid,
.compose .addresses input[type="text"]:valid + input,
.compose .addresses input[type="text"]:valid + div + input {
  display: block;
}

/*
This is a nice effect but it causes problems if there is a
blank address input between two valid inputs.

.compose .addresses input[type="text"]:valid:not(:focus) + input:not(:valid):not(:focus),
.compose .addresses input[type="text"]:valid:not(:focus) + div + input:not(:valid):not(:focus) {
  opacity: 0.5;
  margin-bottom: -2.25rem;
}
*/

.compose .addresses input[type="text"]:focus {
  opacity: 1;
  margin-bottom: 0.5rem;
}

.compose .addresses.from {
  padding-bottom: 0.5rem;
}

.compose .row.padded {
  padding-bottom: 0.25rem;
}

.compose .addresses.from label,
.compose .row.padded label {
  margin: 0;
}

.compose .row .show-hidden-addresses {
  position: absolute;
  right: 0;
  top: 0;
}

.compose .row .show-hidden-addresses label a {
  text-decoration: underline;
}

.compose .row .show-hidden-addresses label + label {
  margin-left: 0.5rem;
}

.compose #toggle-to:checked + .addresses + .to {
  display: none;
}

.compose #toggle-cc:checked ~ .from label[for="toggle-cc"] {
  display: none;
}

.compose #toggle-bcc:checked ~ .from label[for="toggle-bcc"] {
  display: none;
}

.compose .addresses.from .ten.columns,
.compose .padded.to .ten.columns {
  max-width: 50rem;
  padding-right: 6rem;
  position: relative;
}

.compose .addresses.from .ten.columns label,
.compose .padded.to .ten.columns label {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-decoration: underline;
}

.compose .padded.subject .ten.columns {
  max-width: 50rem;
}

.compose .message textarea {
  height: 30vh;
  line-height: 2.125rem;
  min-height: 15rem;
  resize: vertical;
}

.compose .help-text {
  color: #555;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.compose textarea + .help-text {
  max-width: 50rem;
}

.compose .offset-by-two.ten.columns {
  margin-left: calc(13.333% + 2rem);
}

.compose .buttons a:not(.button),
.compose .buttons span {
  display: inline-block;
  transform: translateY(-0.125rem);
}

.compose .buttons button,
.compose .buttons a.button {
  letter-spacing: 0;
  margin-right: 0.25rem;
}

.compose .buttons a.button {
  border: none;
  position: relative;
  top: -0.125rem;
}

.compose .buttons span {
  color: #aaa;
  margin: 0 0.25rem;
}

.compose input[type="datetime-local"] {
  border: 1px solid #d1d1d1;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.compose .has-error label {
  color: #d43633;
}

.compose .has-error .error-message {
  color: #d43633;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
  transform: translateY(-0.125rem);
}

.compose .has-error input[type="text"].with-error {
  border-color: #d43633;
}

/* Message preview */

.compose.preview form {
  margin-bottom: 4rem;
}

.compose.preview form .error {
  color: #ff524e;
}

.compose.preview .help-text {
  margin-top: 1rem;
  max-width: calc(22% + 50rem);
}

.compose.preview #schedule {
  display: none;
}

.compose.preview #schedule label {
  margin: 0 0.25rem 0 0.5rem;
}

.compose.preview #schedule:target {
  display: inline;
}

.compose.preview #schedule:target + a {
  display: none;
}

.outbox-preview {
  background: #fbfbfb;
  box-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
}

.outbox-preview {
  margin-bottom: 2rem;
}

.outbox-preview p {
  margin-bottom: 1.25rem;
}

.outbox-preview p:last-child {
  margin-bottom: 0;
}

.outbox-preview ol,
.outbox-preview ul {
  margin: 0 0 1.25rem 1.25rem;
}

.outbox-preview li {
  margin: 0 0 0 0.5rem;
}

.outbox-preview blockquote {
  border-left: 0.5rem solid rgba(0, 0, 0, 0.05);
  color: #777;
  margin: 0 0 1.25rem;
  padding: 0.75rem 1rem 0.75rem 1.25rem;
}

.outbox-preview pre {
  margin: 0 0 1.25rem 0;
}

.outbox-preview .text-html {
  padding-right: 0.75rem;
}

.outbox-preview .text-html > :last-child {
  margin-bottom: 0rem;
}

/* Reply to message */

.compose.reply .in-reply-to {
  margin: -1rem 2rem 2rem 0;
  position: relative;
  width: calc(22% + 50rem);
}

.compose.reply .in-reply-to .panel-header i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  margin-left: 0.25rem;
  transform: translateY(-0.0625rem);
}

.compose.reply .in-reply-to .panel-body {
  height: 12rem;
  overflow: hidden;
}

.compose.reply .in-reply-to .panel-reveal {
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
  bottom: -0.25rem;
  left: -1px;
  position: absolute;
  right: -1px;
  height: 12rem;
}

.compose.reply .in-reply-to .panel-reveal label {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}

.compose.reply .panel .panel-collapse {
  display: none;
}

.compose.reply input#toggle-reply-panel:checked + .panel {
  margin-bottom: 4rem
}

.compose.reply input#toggle-reply-panel:checked + .panel .panel-body {
  height: auto;
  max-height: calc(100vh - 24rem);
  overflow-y: auto;
}

.compose.reply input#toggle-reply-panel:checked + .panel .panel-reveal {
  display: none;
}

.compose.reply input#toggle-reply-panel:checked + .panel .panel-collapse {
  bottom: -2.75rem;
  display: block;
  position: absolute;
  right: 0rem;
}

.compose.reply input#toggle-reply-panel:checked + .panel .panel-collapse label {
  cursor: pointer;
}

.compose.reply input#toggle-reply-panel:checked + .panel .panel-collapse label span {
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: underline;
}

.compose.reply input#toggle-reply-panel:checked + .panel .panel-collapse label i {
  font-size: 1.125rem;
  position: relative;
  top: 0.125rem;
}

.compose.reply .in-reply-to .headers {
  padding: 0.5rem 1rem 1rem 4rem;
}

.compose.reply .in-reply-to .headers .avatar {
  display: inline-block;
  width: 3rem;
}

.compose.reply .in-reply-to .headers .avatar img {
  height: 1.75rem;
  transform: translateY(-0.05rem);
  vertical-align: middle;
  width: 1.75rem;
}

.compose.reply .in-reply-to .headers .from {
  display: inline-block;
  font-size: 1.25rem;
  width: calc(100% - 9rem);
}

.compose.reply .in-reply-to .headers .date {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  float: right;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  width: 8rem;
}

.compose.reply .in-reply-to .message {
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
