/**
 * Media Queries
 */

/* Massive screens */
@media (min-width: 1800px) {
  html {
    font-size: 95%;
  }
  #search .icon.button {
    top: 0.1875rem;
  }
  .thread-msg .message {
    font-size: 1.25rem;
  }
}

/* Very large devices */
@media (min-width: 1400px) {
  section#main {
    left: 25rem;
  }
  nav {
    width: 25rem;
  }
  nav #nav-wrapper {
    width: 21rem;
  }
  #logo {
    width: 23rem;
  }
  #search {
    width: calc(100% - 45rem)
  }
}

/* Large desktop screens */
@media (max-width: 1399px) {
  html {
    font-size: 80%;
  }
  #search .icon.button {
    top: 0.125rem;
  }
}

/* Large devices */
@media (min-width: 1200px) {
  section#main {
    left: 22rem;
  }
  nav {
    width: 22rem;
  }
  nav #nav-wrapper {
    width: 18rem;
  }
  #logo {
    width: 21rem;
  }
  #search {
    width: calc(100% - 42rem)
  }
}

/* Large devices (laptops) */
@media (max-width: 1199px) {
  html {
    font-size: 80%;
  }
  .settings form > .row > .seven.columns {
    max-width: none;
    width: 66%;
  }
  .settings form > .row > .seven.columns .four.columns {
    width: 48%;
    max-width: 14rem;
    margin: 0 4% 0 0;
  }
}

/* Medium devices (laptops) */
@media (max-width: 991px) {
  html {
    font-size: 75%;
  }
  #search .icon.button {
    top: 0.125rem;
  }
  .dropdown ul.more-actions {
    right: 0;
    border-radius: 4px 0 4px 4px;
  }
}

/* Medium devices (tablets) */
@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }

  section#error {
    margin: 0;
    max-width: none;
    min-width: auto;
    padding: 6rem 0 0;
  }

  section#error > div {
    background: none !important;
    box-shadow: none !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Small devices (landscape phones) */
@media (max-width: 575px) {
  html {
    font-size: 62.5%;
  }

  section#main > h5 + .help-text {
    margin-bottom: 1.5rem;
  }

  .settings .row input[type="text"],
  .settings .row input[type="email"],
  .settings .row input[type="password"] {
    margin-bottom: 1rem;
  }

  .settings .row .three.columns label {
    text-align: left;
    transform: none;
  }

  .settings form > .row > .columns.input {
    width: calc(100% - 6rem);
  }
}
