/**
 * Media Queries
 */

/* Massive screens */
@media (min-width: 1800px) {
  html {
    font-size: 95%;
  }
  #search .icon.button {
    top: 0.05rem;
  }
}

/* Large desktop screens */
@media (max-width: 1399px) {
  html {
    font-size: 80%;
  }
  #search .icon.button {
    top: 0;
  }
}

/* Large devices (laptops) */
@media (max-width: 1199px) {
  html {
    font-size: 80%;
  }
}

/* Medium devices (laptops) */
@media (max-width: 991px) {
  html {
    font-size: 75%;
  }
  #search .icon.button {
    top: 0.1rem;
  }
}

/* Medium devices (tablets) */
@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}

/* Small devices (landscape phones) */
@media (max-width: 575px) {
  html {
    font-size: 62.5%;
  }
}
