/**
 * Navigation and Header
 *
 * z-index range: 1-2
 */

header {
    border-bottom: 4px solid #C56BDE; /* ccc*/
    height: 5rem;
    width: 100%;
    background: #f1f1f1;
    position: fixed;
    z-index: 1;
}

header:hover {
    z-index: 2;
}

header a.icon.button {
    margin-bottom: 0;
}

#logo {
    float: left;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 0;
    padding-left: 2rem;
    width: 18rem;
}

#search {
    float: left;
    height: 5rem;
    line-height: 5rem;
    width: calc(100% - 40rem);
}

#search input[type="search"] {
    height: 3.5rem;
    margin: 0;
    max-width: 50rem;
    width: calc(100% - 4rem);
}

#search input[type="search"]:focus + .button {
    border-color: #33c3f0;
}

#search .icon.button {
    background-color: #fff;
    border-color: #d1d1d1;
    border-radius: 0 4px 4px 0;
    left: -4px;
    line-height: 3.2rem;
    padding: 0;
    position: relative;
    top: 0.1rem;
    width: 4rem;
}

#topnav {
    float: right;
    height: 3.5rem;
    padding: 0.75rem 1rem 0.75rem 0;
    text-align: right;
    width: 19rem;
}

#compose {
    line-height: 3.5rem;
    text-transform: uppercase;
}

nav {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding-top: 1.75rem;
    padding-left: 2rem;
    position: fixed;
    top: 5rem;
    width: 20rem;
}

nav a {
    color: #333;
    font-size: 1.4rem;
    text-decoration: none;
}

nav a.mailbox {
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    height: 2.1rem;
    margin-right: 2rem;
    overflow: hidden;
    padding: 0.25rem 1.6rem 0.4rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

nav a.mailbox:hover,
nav a.mailbox:hover + .folder-label {
    background: #f1f1f1;
}

nav li.active a {
    color: #ab51c4;
    font-weight: bold;
}

nav li {
    line-height: 1;
}

nav li:not(.active):hover > a {
    color: #333;
}

nav #nav-wrapper {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding-left: 1.25rem;
    position: fixed;
    top: 12.25rem;
    width: 16.5rem;
}

nav #mailboxes {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

nav #mailboxes li {
    margin-bottom: 0rem;
    padding-left: 2rem;
    position: relative;
}

nav #folders,
nav ul.sub {
    list-style-type: none;
    margin: 0;
}

nav ul.sub {
    display: none;
    margin-left: -0.5rem;
    margin-top: 0
}

nav #folders li {
    margin-bottom: 0rem;
    padding-left: 2rem;
    position: relative;
}

nav #folders a.color {
    float: right;
    height: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.45rem;
    width: 1.2rem;
}

nav .folder-checkbox,
nav .folder-label i {
    display: none;
}

nav .folder-label {
    display: block;
    font-size: 1.3rem;
    height: 2.1rem;
    left: 0;
    padding-left: 0.75rem;
    position: absolute;
    top: 0;
    width: 1.25rem;
}

nav li.w-sub > .folder-label {
    cursor: pointer;
}

nav .folder-label .fa-caret-down {
    left: -0.15rem;
    top: 0.33rem;
    position: relative;
}

nav li.w-sub > .folder-label .fa-caret-right {
    display: inline-block;
    left: 0;
    top: 0.33rem;
    position: relative;
}

nav li.w-sub > .folder-checkbox:checked ~ .folder-label .fa-caret-right {
    display: none;
}

nav li.w-sub > .folder-checkbox:checked ~ .folder-label .fa-caret-down {
    display: inline-block;
}

nav li.w-sub > .folder-checkbox:checked ~ ul.sub {
    display: block;
}

/**
 * Actions Menu
 * This is the menu above the mailboxes that allows for interactivity
 * with the messages when they're selected.
 *
 * z-index range: 11-15
 */
section #msg-actions {
    border-bottom: 1px solid #ddd;
    height: 4.5rem;
    margin-right: 1rem;
    padding-top: 1.75rem;
}

section #msg-actions .control {
    box-sizing: border-box;
    height: 3.5rem;
}

section #msg-actions a.button {
    margin-bottom: 0;
}

.menu {
    z-index: 11;
}

.menu .control {
    margin-right: 0.75rem;
}

.menu.default {
    background: #fff;
    position: fixed;
    top: calc(6.75rem);
}

.menu.actions {
    background: #fff;
    display: none;
    position: fixed;
    top: calc(6.75rem);
}

.folder-selector {
    background-color: #fff;
    border-left: 1px solid #bbb;
    box-shadow: 0px 0px 15px #bbb;
    bottom: 0;
    right: calc(-44% + -20px);
    position: fixed;
    top: calc(5rem + 4px);
    transition: right 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 44%;
    z-index: 15;
}

.folder-selector:target {
    right: 0;
}

.folder-selector h4 {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 2.25rem;
    height: 4.5rem;
    line-height: 3.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.folder-selector h4 .close {
    color: #aaa;
    float: right;
    font-weight: normal;
}

.folder-selector input[type="search"] {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    height: 4.5rem;
    line-height: 4.5rem;
    margin: 0;
    padding: 0 1rem;
    position: absolute;
    top: calc(4.5rem + 1px);
    width: 100%;
}

.folder-selector .list {
    bottom: 4.5rem;
    box-sizing: border-box;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: calc(9rem + 2px);
}

.folder-selector .list .move-to-checkbox {
    display: none;
}

.folder-selector .list label {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 3rem;
    margin: -1px 0 0;
    padding: 0 1rem;
    position: relative;
    transition: padding 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.folder-selector .list .move-to-checkbox:checked + label {
    background-color: #007db6;
    border-color: #006591;
    color: #fff;
    padding-left: 3.25rem;
    z-index: 11;
}

.folder-selector .list .move-to-checkbox + label:after {
    color: #fff;
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    left: -1rem;
    opacity: 0;
    top: 0;
    transition: left 200ms cubic-bezier(0.165, 0.84, 0.44, 1);;
    width: 2rem;
}

.folder-selector .list .move-to-checkbox:checked + label:after {
    left: 1rem;
    opacity: 1;
}

.folder-selector .actions {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    bottom: 0;
    box-sizing: border-box;
    height: 4.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    width: 100%;
}

.folder-selector .actions button {
    font-size: 1.5rem;
    letter-spacing: normal;
}

.folder-selector .actions .hint {
    display: none;
    margin-left: 1rem;
}

.folder-selector input[type="search"]:invalid + .list + .actions {
    background: #ffda6d;
    border-color: #d6a70e;
}

.folder-selector input[type="search"]:invalid + .list + .actions .hint {
    display: inline-block;
}