/**
* Navigation and Header
*
* z-index range: 1-2
*/

body > header {
  background: #f1f1f1;
  border-bottom: 0.3125rem solid #c56bde;
  height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

body > header a.icon.button {
  margin-bottom: 0;
}

#logo {
  float: left;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 0;
  padding-left: 2rem;
  width: 18rem;
}

#logo a {
  text-decoration: none;
  color: #333;
}

#search {
  float: left;
  height: 5rem;
  line-height: 5rem;
  width: calc(100% - 40rem);
}

#search input[type="search"] {
  height: 3.5rem;
  margin: 0;
  max-width: 50rem;
  width: calc(100% - 4rem);
}

#search input[type="search"]:focus + .button {
  border-color: #33c3f0;
}

#search .icon.button {
  background-color: #fff;
  border-color: #d1d1d1;
  border-radius: 0 0.3125rem 0.3125rem 0;
  left: -0.3125rem;
  line-height: 3.2rem;
  padding: 0;
  position: relative;
  top: 0.1rem;
  width: 4rem;
}

#search .icon.button i {
  font-size: 1.75rem;
}

#topnav {
  float: right;
  height: 3.5rem;
  padding: 0.75rem 1rem 0.75rem 0;
  text-align: right;
  width: 19rem;
}

#topnav-actions {
  position: fixed;
  right: 1rem;
  top: 0.75rem;
}

#topnav-actions .status {
  margin-right: 1.5rem;
}

#topnav-actions .status > div {
  line-height: 1;
  margin-bottom: 0.25rem;
}

#topnav-actions .status > div > i {
  display: inline-block;
  font-size: 1.125rem;
  text-align: center;
  width: 2rem;
}

#topnav-actions .status > div > span {
  color: #666;
  font-size: 1.125rem;
}

#topnav-actions .status > div > span > strong {
  color: #333;
}

#topnav-actions .status i.fa-wifi {
  color: #00b153;
}

#topnav-actions .status i.fa-power-off {
  color: #d81956;
}

#topnav-actions .status i.fa-moon {
  color: #0091d2;
}

#topnav-actions .status i.fa-sync-alt {
  color: #d81956;
  transform: translateY(0.0625rem);
}

#compose {
  line-height: 3.5rem;
  text-transform: uppercase;
}

#collapse-mailboxes {
  color: #e1e1e1;
  display: inline-block;
  font-size: 2rem;
  margin-left: 1.5rem;
}

nav {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding-top: 1.75rem;
  padding-left: 2rem;
  position: fixed;
  top: 5rem;
  width: 20rem;
}

nav a {
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
}

nav a.mailbox {
  border-radius: 0.15625rem;
  box-sizing: border-box;
  display: block;
  height: 2.1rem;
  margin-right: 2rem;
  overflow: hidden;
  padding: 0.33rem 1.75rem 0.33rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

nav a.mailbox:hover,
nav a.mailbox:hover + .folder-label {
  background: #f1f1f1;
}

nav li.active a {
  color: #ab51c4;
  font-weight: 700;
}

nav li {
  line-height: 1;
}

nav li:not(.active):hover > a {
  color: #333;
}

nav #nav-wrapper {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding-left: 1.25rem;
  position: fixed;
  top: 12.25rem;
  width: 16.5rem;
}

nav #mailboxes,
nav #mailboxes-more {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

nav #mailboxes li,
nav #mailboxes-more li {
  margin-bottom: 0rem;
  padding-left: 2rem;
  position: relative;
}

nav #mailboxes-divider {
  border-top: 0.125rem solid #eee;
  margin: 0.25rem 0 0.25rem 2rem;
}

nav #folders,
nav ul.sub {
  list-style-type: none;
  margin: 0;
}

nav ul.sub {
  display: none;
  margin-left: -0.5rem;
  margin-top: 0
}

nav #folders li {
  margin-bottom: 0rem;
  padding-left: 2rem;
  position: relative;
}

nav #folders a.color {
  float: right;
  height: 1.2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.45rem;
  width: 1.2rem;
}

nav .folder-checkbox,
nav .folder-label i {
  display: none;
}

nav .folder-label {
  display: block;
  font-size: 1.3rem;
  height: 2.1rem;
  left: 0;
  padding-left: 0.75rem;
  position: absolute;
  top: 0;
  width: 1.25rem;
}

nav li.w-sub > .folder-label {
  cursor: pointer;
}

nav .folder-label .fa-caret-down {
  left: -0.15rem;
  top: 0.33rem;
  position: relative;
}

nav li.w-sub > .folder-label .fa-caret-right {
  display: inline-block;
  left: 0;
  top: 0.33rem;
  position: relative;
}

nav li.w-sub > .folder-checkbox:checked ~ .folder-label .fa-caret-right {
  display: none;
}

nav li.w-sub > .folder-checkbox:checked ~ .folder-label .fa-caret-down {
  display: inline-block;
}

nav li.w-sub > .folder-checkbox:checked ~ ul.sub {
  display: block;
}

nav li.w-unread {
  font-weight: bold;
}
