/**
 * Notifications
 * These messages appear at the top of the page.
*/

.notifications {
  padding-right: 2rem;
}

.notifications input[type="checkbox"] {
  display: none;
}

.notifications .notification {
  border-radius: 0.375rem;
  font-weight: 400;
  margin: 0.25rem 0 1rem;
  padding: 1rem 4rem 1rem 1.5rem;
  position: relative;
}

.notifications .notification.success {
  background-color: #b7e1ae;
}

.notifications .notification.error {
  background-color: #fcc;
}

.notifications .notification.info {
  background-color: #b1d8ff;
}

.notifications .notification label {
  color: rgba(0, 0, 0, 0.33);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1.375rem;
  top: 0.5625rem;
}

.notifications .notification label:hover {
  color: rgba(0, 0, 0, 0.66);
}

.notifications input[type="checkbox"]:checked + .notification {
  display: none;
}

.notifications .notification-actions {
  margin-top: 1rem;
}

.notifications .notification-actions .button {
  margin-bottom: 0.25rem;
}

.notifications .notification-actions span {
  color: rgba(0, 0, 0, 0.66);
  font-size: 90%;
  margin-left: 1rem;
}