/**
 * Settings and Accounts
 */

.settings h5 {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  margin: 0 2rem 2rem 0;
  padding-bottom: 0.3rem;
}

.settings h5 + .help-text {
  color: #555;
  font-size: 1.125rem;
  margin: -1rem 2rem 2.5rem 0;
  max-width: calc(22% + 50rem);
}

.settings .row label {
  transform: translateY(0.3125rem);
}

.settings .row input[type="text"],
.settings .row input[type="email"],
.settings .row input[type="password"] {
  height: 3.25rem;
  width: 100%;
}

.settings .row input[readonly] {
  border-color: #ccc;
  color: #777;
}

.settings .row .note {
  color: #999;
  font-size: 75%;
  transform: translateY(-1.25rem);
}

.settings .row .note:hover {
  color: #666;
}

.settings .row .input {
  margin-left: 1.5rem;
  max-width: 40rem;
}

.settings .row .offset-by-three {
  margin-left: calc(22% + 1.5rem);
}

.settings .buttons.row {
  margin-top: 2rem;
}

.settings .buttons.row a,
.settings .buttons.row span {
  display: inline-block;
  transform: translateY(-0.125rem);
}

.settings .buttons.row span {
  color: #aaa;
  margin: 0 0.25rem 0 0.5rem;
}

.settings .theme {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px #eee;
  height: 5rem;
}

.settings .theme .theme-header {
  background-color: #f1f1f1;
  border-bottom: 0.3125rem solid #c56bde;
  border-radius: 0.25rem 0.25rem 0 0;
  box-sizing: border-box;
  height: 2.25rem;
}

.settings .theme .theme-body {
  background-color: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
  box-sizing: border-box;
  height: 2.75rem;
  line-height: 1.6rem;
  padding: 0.5rem 0.625rem;
  text-align: center;
}

.settings .theme .theme-body span {
  display: inline-block;
  float: left;
  margin: 0 1rem 0 0;
}

.settings .theme .theme-body .theme-button {
  background-color: #1eaedb;
  border-radius: 0.125rem;
  height: 1.75rem;
  width: 1.75rem;
}

.settings .theme + label {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.settings .theme + label span {
  display: inline-block;
  margin-left: 0.25rem;
  transform: translateY(-0.0625rem);
}
