/**
 * Message Threads
 */

article.thread-msg {
  border-bottom: 0.125rem solid #e1e1e1;
  display: none;
  font-size: 1.33rem;
  margin: 0 2rem 0 0;
  padding-bottom: 5rem;
}

/* Subject line */

section #msg-list h5.thread-title {
  border-bottom: 0.125rem solid #e3e3e3;
  margin: 0.75rem 2rem 0 0;
  padding: 0 0 1rem;
}

h5.thread-title mark {
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.25rem 0.6rem 0.3rem;
  position: relative;
  top: -0.2rem;
}

h5.thread-title mark:first-of-type {
  margin-left: 0.25rem;
}

/* Collapsed messages */

input[type="checkbox"].thread-msg-checkbox {
  display: none;
}

.thread-msg-checkbox:checked + label {
  display: none;
}

.thread-msg-checkbox:checked + label + article {
  display: block;
}

.thread-msg-row label {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  height: 3.5rem;
  margin: 0;
  line-height: 3.5rem;
  padding: 0 1rem;
  width: calc(100% - 2rem);
}

.thread-msg-row label.thread-msg-label {
  background-color: #f1f1f1;
  border-bottom: 0.125rem solid #e1e1e1;
}

.thread-msg-checkbox:disabled + label + article label {
    cursor: default;
}

.thread-msg-row label .snippet {
  color: #888;
  display: block;
  float: left;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 11rem);
}

.thread-msg-row .thread-msg  label .snippet {
  width: calc(100% - 19rem);
}

.thread-msg-row label .snippet strong {
  color: #333;
  margin-right: 0.5rem;
}

.thread-msg-row label .snippet span {
  font-weight: 400;
}

.thread-msg-row label .snippet .avatar {
  display: inline-block;
  width: 3rem;
}

.thread-msg-row label .avatar img {
  height: 1.75rem;
  transform: translateY(-0.05rem);
  vertical-align: middle;
  width: 1.75rem;
}

.thread-msg-row label .date {
  box-sizing: border-box;
  color: #333;
  display: block;
  float: left;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  width: 8rem;
}

.thread-msg-row label .star {
    border: 0;
    color: #d6a70e;
    float: left;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: right;
    width: 3rem;
}

/* Expand message list */

input[type="checkbox"].thread-msg-more-checkbox {
  display: none;
}

.thread-msg-group {
  position: relative;
}

.thread-msg-group .thread-msg-row {
  display: none;
}

.thread-msg-group .placeholder {
  background-color: #f1f1f1;
  border-bottom: 0.125rem solid #e1e1e1;
  height: 0.875rem;
  width: calc(100% - 2rem);
}

.thread-msg-more-checkbox + label {
  bottom: 0;
  cursor: pointer;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: calc(100% - 2rem);
}

.thread-msg-more-checkbox + label span {
  color: #888;
  background-color: #f1f1f1;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0rem 1rem;
  vertical-align: middle;
}

.thread-msg-more-checkbox:checked + label,
.thread-msg-more-checkbox:checked ~ .placeholder {
  display: none;
}

.thread-msg-more-checkbox:checked ~ .thread-msg-row {
  display: block;
}

/* Message body */

.thread-msg label.thread-msg-header {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  min-height: 5.5rem;
  margin: 0 1rem 1.5rem 0;
  line-height: 3.5rem;
  padding: 0 0 0 4rem;
  width: 100%;
}

.thread-msg label.thread-msg-header .from strong {
  color: #333;
  margin-right: 0.5rem;
}

.thread-msg label.thread-msg-header .from span {
  color: #888;
  font-weight: 400;
}

.thread-msg label.thread-msg-header .to {
  line-height: 2rem;
  overflow: hidden;
  transform: translateY(-0.375rem);
}

.thread-msg .avatar {
  left: 1rem;
  position: absolute;
}

.thread-msg .message {
  line-height: 1.4;
  max-width: 60rem;
  padding: 0 1rem 0 4rem;
  word-wrap: break-word;
}

.thread-msg .actions {
  display: inline-block;
  padding-top: 0.125rem;
  text-align: right;
  width: 8rem;
}

.thread-msg .actions .button-group > a,
.thread-msg .actions .button-group > span > a {
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  padding: 0 0.75rem;
}

.thread-msg .actions .button-group > a {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
  padding: 0 1.25rem;
  position: relative;
}

.thread-msg .actions .button-group > a i {
  font-size: 1.4rem;
  transform: translateY(-0.0625rem);
}

.thread-msg .actions .button-group > a:hover {
  z-index: 23; /* Higher than dropdown button */
}

.thread-msg .actions .button-group .dropdown > a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.thread-msg .actions .button-group .dropdown ul a {
  font-weight: 400;
  height: 2rem;
  line-height: 2rem;
}

.thread-msg .actions .button-group .dropdown li .left-icon {
  height: 2.875rem;
  line-height: 2.875rem;
}
