/**
 * Message Threads
 */

article.thread-msg {
  border-bottom: 0.125rem solid #e1e1e1;
  display: none;
  font-size: 1.33rem;
  margin: 0 1rem 0 0;
  padding-bottom: 5rem;
}

/* Subject line */

section #msg-list h5.thread-title {
  border-bottom: 0.125rem solid #e3e3e3;
  margin: 0.75rem 1rem 0 0;
  padding: 0 0 1rem;
}

h5.thread-title mark {
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 0.25rem;
  padding: 0.25rem 0.6rem 0.3rem;
  position: relative;
  top: -0.2rem;
}

/* Collapsed messages */

input[type="checkbox"].thread-msg-checkbox {
  display: none;
}

.thread-msg-checkbox:checked + label {
  display: none;
}

.thread-msg-checkbox:checked + label + article {
  display: block;
}

label.thread-msg-label {
  background-color: #f1f1f1;
  border-bottom: 0.0625rem solid #e1e1e1;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  height: 3.5rem;
  margin: 0 1rem 0 0;
  line-height: 3.5rem;
  padding: 0 1rem;
  width: calc(100% - 1rem);
}

label.thread-msg-label .snippet {
  color: #888;
  display: block;
  float: left;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 8rem);
}

label.thread-msg-label .snippet strong {
  color: #333;
  margin-right: 0.5rem;
}

label.thread-msg-label .snippet span {
  font-weight: 400;
}

.thread-msg .avatar,
label.thread-msg-label .snippet .avatar {
  display: inline-block;
  width: 3rem;
}

.thread-msg .avatar img,
label.thread-msg-label .snippet .avatar img {
  height: 1.75rem;
  transform: translateY(-0.05rem);
  vertical-align: middle;
  width: 1.75rem;
}

label.thread-msg-label .date {
  box-sizing: border-box;
  color: #333;
  display: block;
  float: right;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  width: 8rem;
}

/* Message body */

.thread-msg label.thread-msg-header {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  min-height: 3.5rem;
  margin: 0 1rem 1.5rem 0;
  line-height: 3.5rem;
  padding: 0 1rem 0 4rem;
  width: calc(100% - 1rem);
}

.thread-msg label.thread-msg-header .from strong {
  color: #333;
  margin-right: 0.5rem;
}

.thread-msg label.thread-msg-header .from span {
  color: #888;
  font-weight: 400;
}

.thread-msg .avatar {
  left: 1rem;
  position: absolute;
}
.thread-msg .message {
  line-height: 1.4;
  max-width: 60rem;
  padding: 0 1rem 0 4rem;
  word-wrap: break-word;
}
