/**
 * Tooltips
 * Renders tooltips on an element with data-tooltip
 *
 * z-index range: 26-30
 */

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover:before {
  color: #000;
  content: '\f0d7';
  font-family: FontAwesome;
  font-size: 2rem;
  height: 1rem;
  left: calc((100% - 1rem) / 2);
  line-height: 0;
  position: absolute;
  top: -0.9rem;
  width: 1rem;
  z-index: 26;
}

[data-tooltip]:hover:after {
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 1.2rem;
  font-weight: normal;
  left: calc((100% - 7rem) / 2);
  letter-spacing: normal;
  line-height: 1;
  padding: 0.75rem 1.25rem;
  position: absolute;
  text-align: center;
  top: calc(-100% + -0.4rem);
  width: 4.5rem;
  z-index: 27;
}