/**
 * Cool Night
 * Dark theme
 */

/* Theme page */
.settings .theme-coolnight .theme-body,
.settings .theme-coolnight .theme-header {
  background-color: #3b3b3b;
  color: #ccc;
}

.settings .theme-coolnight .theme-header {
  border-color: #2e7f9e;
}

.settings .theme-coolnight .theme-button {
  background-color: #178eb3 !important;
  background-image: linear-gradient(90deg, #7952b3 50%, #178eb3 50%) !important;
}

.settings  .theme-coolnight .theme-links a {
  color: #1eaedb !important;
}

.settings .theme-coolnight > .theme {
  border-color: #222 !important;
}

/* Base elements */
body.theme-coolnight a {
  color: #1eaedb;
}
body.theme-coolnight a:hover,
body.theme-coolnight a:focus {
  color: #36cfff;
}

body.theme-coolnight aside,
body.theme-coolnight .alert {
  background-color: #a70834;
  box-shadow: 0 0.25rem 0.5rem #222;
}
body.theme-coolnight aside a {
  color: #fff;
}
body.theme-coolnight .alert .icon.button,
body.theme-coolnight .notification .button {
  box-shadow: none !important;
}

/* Default background */
body.theme-coolnight,
body.theme-coolnight .menu.actions,
body.theme-coolnight .menu.default,
body.theme-coolnight .folder-selector,
body.theme-coolnight .folder-selector h4 {
  background-color: #3b3b3b;
  color: #ccc;
}

/* Slightly darker */
body.theme-coolnight .folder-selector .actions {
  background-color: #323232;
}

/* Header */
body.theme-coolnight > header {
  background-color: #3b3b3b;
  border-color: #2e7f9e;
  color: #ccc;
}

/* Default text color */
body.theme-coolnight nav a,
body.theme-coolnight nav li:not(.active):hover > a,
body.theme-coolnight #logo a.link,
body.theme-coolnight #topnav-actions .status > div > span > strong,
body.theme-coolnight .dropdown ul,
body.theme-coolnight .dropdown li a,
body.theme-coolnight .dropdown li [type="submit"],
body.theme-coolnight section #msg-list h5 .paging-counts a.page,
body.theme-coolnight .msg-contents .names,
body.theme-coolnight .msg-contents .subject span,
body.theme-coolnight .msg-contents .date {
  color: #ccc;
}

/* Navigation */
body.theme-coolnight nav li.active a {
  color: #36cfff;
}

/* Message lists */
body.theme-coolnight .msg-contents {
  background-color: #3b3b3b;
  border-bottom: 1px solid #2b2b2b;
  border-top: 1px solid #2b2b2b;
}

body.theme-coolnight .msg-label {
  background-color: #3b3b3b;
  border-color: #2b2b2b;
}

body.theme-coolnight .msg-label.unseen {
  background-color: #5b5b5b;
}

body.theme-coolnight .msg-label:after {
  background-color: #9b9b9b;
  border-color: #2b2b2b;
}

body.theme-coolnight .msg-checkbox:checked + .msg-label:after {
  background-color: #eee;
}

body.theme-coolnight .msg-contents.unseen .subject span,
body.theme-coolnight .msg-contents.unseen .date,
body.theme-coolnight .msg-contents.unseen strong {
  /*font-weight: 400;*/
}

body.theme-coolnight .msg-label.unseen,
body.theme-coolnight .msg-contents.unseen,
body.theme-coolnight .msg-contents.unseen .names,
body.theme-coolnight .msg-contents.unseen .subject span,
body.theme-coolnight .msg-contents.unseen .date {
  background-color: #5b5b5b;
  color: #ebebeb;
}

body.theme-coolnight .msg-checkbox:checked + .msg-label,
body.theme-coolnight .msg-checkbox:checked + .msg-label + .msg-contents {
  border-color: #674f00;
}

body.theme-coolnight .msg-checkbox:checked + .msg-label,
body.theme-coolnight .msg-checkbox:checked + .msg-label + .msg-contents,
body.theme-coolnight .msg-checkbox:checked + .msg-label + .msg-contents .names,
body.theme-coolnight .msg-checkbox:checked + .msg-label + .msg-contents .date,
body.theme-coolnight .msg-checkbox:checked + .msg-label + .msg-contents .subject span {
  background-color: #f1c953; /* original yellow */
  color: #4b4b4b;
}

body.theme-coolnight .msg-contents .names span.red {
  color: #ea5d84;
}

body.theme-coolnight .msg-contents .subject {
  color: #8b8b8b;
}

/* Threads */
body.theme-coolnight .thread-msg-row label.thread-msg-label,
body.theme-coolnight .thread-msg-group .placeholder,
body.theme-coolnight .thread-msg-more-checkbox + label span {
  background: #4b4b4b;
}

body.theme-coolnight section #msg-list h5.thread-title,
body.theme-coolnight .thread-msg-row label.thread-msg-label,
body.theme-coolnight .thread-msg-group .placeholder,
body.theme-coolnight .folder-selector h4,
body.theme-coolnight .folder-selector .actions,
body.theme-coolnight .folder-selector .list label {
  border-color: #323232;
}

body.theme-coolnight .thread-msg-row label .snippet,
body.theme-coolnight .thread-msg-more-checkbox + label span,
body.theme-coolnight .thread-msg label.thread-msg-header .from span,
body.theme-coolnight .thread-msg-row label .snippet strong,
body.theme-coolnight .thread-msg-row label .date {
  color: #aaa;
}

/* Preview */
body.theme-coolnight .compose .outbox-preview {
  background: #323232;
  box-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

body.theme-coolnight .compose .outbox-preview .row:not(.message):not(.buttons) {
  border-color: #222;
}

/* Default buttons and dropdowns */
body.theme-coolnight .dropdown ul,
body.theme-coolnight .button:not(.button-primary):not(.button-secondary):not(.button-danger):not(.button-success),
body.theme-coolnight button:not(.button-primary):not(.button-secondary):not(.button-danger):not(.button-success),
body.theme-coolnight input[type="submit"]:not(.button-primary):not(.button-secondary):not(.button-danger):not(.button-success),
body.theme-coolnight input[type="reset"]:not(.button-primary):not(.button-secondary):not(.button-danger):not(.button-success),
body.theme-coolnight input[type="button"]:not(.button-primary):not(.button-secondary):not(.button-danger):not(.button-success),
body.theme-coolnight .settings .theme,
body.theme-coolnight .folder-selector {
  background-color: #3b3b3b;
  border-color: #0b0b0b;
  color: #999;
}

/* Form inputs */
body.theme-coolnight #search .icon.button,
body.theme-coolnight input[type="search"],
body.theme-coolnight input[type="text"],
body.theme-coolnight input[type="email"],
body.theme-coolnight input[type="password"],
body.theme-coolnight input[type="datetime-local"],
body.theme-coolnight .settings .row input[readonly],
body.theme-coolnight textarea,
body.theme-coolnight select {
  background-color: #6b6b6b;
  border-color: #1b1b1b;
  color: #ddd;
}

body.theme-coolnight .settings .row input[readonly] {
  color: #9b9b9b;
}

/* Light borders */
body.theme-coolnight #main > h5,
body.theme-coolnight section #msg-actions,
body.theme-coolnight .dropdown li.notice,
body.theme-coolnight .folder-selector h4,
body.theme-coolnight .folder-selector .actions,
body.theme-coolnight .folder-selector .list label {
  border-color: #1b1b1b;
}

/* Dropdown item background */
body.theme-coolnight .dropdown a,
body.theme-coolnight .dropdown ul,
body.theme-coolnight .dropdown li a,
body.theme-coolnight .dropdown li input[type="submit"] {
  background: #3b3b3b;
}

/* Very light borders */
body.theme-coolnight .msg-label,
body.theme-coolnight section #msg-list .mailbox-checkbox:checked + h5 {
  border-color: #2b2b2b;
}

body.theme-coolnight nav #mailboxes-divider,
body.theme-coolnight article.thread-msg,
body.theme-coolnight .compose .row:not(.message):not(.buttons) {
  border-color: #323232;
}

/* Dropdown item hover */
body.theme-coolnight nav a.mailbox:hover,
body.theme-coolnight nav a.mailbox:hover + .folder-label,
body.theme-coolnight .dropdown li a:hover,
body.theme-coolnight .dropdown li [type="submit"]:hover {
  background-color: #2b2b2b !important;
}

/* Buttons */
body.theme-coolnight .button.button-primary {
  background-color: #7952b3;
  border-color: #1c0c31;
  box-shadow: 0 2px 2px #383838;
}

body.theme-coolnight .button.button-primary:focus,
body.theme-coolnight .button.button-primary:hover {
  background-color: #8859ce;
  border-color: #1c0c31;
}

body.theme-coolnight .button.button-secondary {
  background-color: #1280a2;
  border-color: #052d3a;
  box-shadow: 0 2px 2px #383838;
}

body.theme-coolnight .button.button-secondary:focus,
body.theme-coolnight .button.button-secondary:hover {
  background-color: #178eb3;
  border-color: #052d3a;
}

body.theme-coolnight .button.button-danger {
  background-color: #b74b4b;
  border-color: #480707;
  box-shadow: 0 2px 2px #383838;
}

body.theme-coolnight .button.button-danger:hover,
body.theme-coolnight .button.button-danger:focus {
  background-color: #d05b5b;
}

body.theme-coolnight .button[disabled],
body.theme-coolnight button[disabled],
body.theme-coolnight input[type="submit"][disabled],
body.theme-coolnight input[type="reset"][disabled],
body.theme-coolnight input[type="button"][disabled] {
  background-color: #444 !important;
  border-color: #333 !important;
  color: #777 !important;
}

body.theme-coolnight #logo a.icon.button:not(:hover):not(:focus) {
  border-color: #1b1b1b;
  color: #666;
}

body.theme-coolnight #logo a.icon.button:hover {
  border-color: #0b0b0b;
  color: #aaa;
}

/* Alerts */
body.theme-coolnight .alerts .alert {
  background: #0b0b0b;
  box-shadow: none;
  color: #eee;
}

body.theme-coolnight .alerts .alert input[type="submit"],
body.theme-coolnight .alerts .alert label {
  background-color: #0b0b0b !important;
  color: #aaa !important;
}

/* Dialogs */
body.theme-coolnight .dialog {
  background: #4b4b4b;
  border: 1px solid #0b0b0b;
}

/* Form errors */
body.theme-coolnight .compose .has-error label,
body.theme-coolnight .compose .has-error .error-message {
  color: #d05b5b;
}
body.theme-coolnight .compose .has-error input[type="text"] {
  border-color: #d05b5b;
}

/* Misc elements */
body.theme-coolnight code {
  background-color: #2b2b2b;
  border-color: #1b1b1b;
}

body.theme-coolnight ::placeholder {
  color: #aaa;
}

body.theme-coolnight .notifications .notification {
  color: #333;
}

body.theme-coolnight .notifications .notification.success {
  border: 1px solid #193114;
  box-shadow: 0 1px 2px #2b2b2b;
}

body.theme-coolnight .notifications .notification.error {
  border: 1px solid #2d1414;
  box-shadow: 0 1px 2px #2b2b2b;
}

/* Shadows */
body.theme-coolnight .dropdown ul {
  box-shadow: 0 0.125rem 0.25rem #2b2b2b;
}

body.theme-coolnight .settings .theme {
  box-shadow: 0 2px 2px #323232;
}

body.theme-coolnight .folder-selector {
  box-shadow: 0px 0px 1rem #2b2b2b
}

/* Update blue links */
body.theme-coolnight .thread-msg .message a:hover,
body.theme-coolnight .thread-msg .message a:focus,
body.theme-coolnight .settings a:hover,
body.theme-coolnight .settings a:focus {
  color: #35c2ef;
}

/* Overwrite #aaa */
body.theme-coolnight .folder-selector h4 .close,
body.theme-coolnight .settings .buttons.row span,
body.theme-coolnight section #msg-list footer span.bg {
  color: #6b6b6b;
}

/* Overwrite #999 */
body.theme-coolnight .msg-label:after,
body.theme-coolnight .dropdown li.notice,
body.theme-coolnight .settings .row .note {
  color: #9b9b9b;
}

/* Overwrite #777 */
body.theme-coolnight section #msg-list footer {
  color: #8b8b8b;
}

/* Overwrite #666 */
body.theme-coolnight .settings .row .note:hover,
body.theme-coolnight #topnav-actions .status > div > span {
  color: #8b8b8b;
}

/* Overwrite #555 */
body.theme-coolnight .compose .help-text,
body.theme-coolnight #main > h5 + .help-text {
  color: #9b9b9b;
}

/* Overwrite #444 */
body.theme-coolnight .dropdown li .left-icon {
  color: #7b7b7b;
}
