.folders {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.folder {
  box-sizing: border-box;
  padding: 0.5rem;
  position: relative;
  transition: background-color 0.25s ease;
  width: 25%;
}

.folder.active {
  background: #d6a70e;
}

.folder.incomplete:not(.active) .top {
  background: rgba(214, 167, 14, 0.1);
  color: #aaa;
}

.folder.incomplete:not(.active) .bottom {
  background: rgba(214, 167, 14, 0.1);
  color: #777;
}

.folder.incomplete:not(.active) .bottom .count {
  background: transparent;
}

.folder .progress {
  height: 0.4rem;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.folder .top {
  background: #2d2d2d;
  color: #aaa;
  font-size: 1.4rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 0.4rem 0.8rem 0;
}

.folder .top .name {
  overflow-x: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}

.folder .bottom {
  background: #2d2d2d;
  border-right: 0.8rem solid rgba(0, 0, 0, 0);
  color: #555;
  font-size: 0.9rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 0 0 0.2rem 0.8rem;
  position: relative;
  white-space: nowrap;
}

.folder .bottom .count {
  background: #2d2d2d;
  padding: 0.2rem;
  position: absolute;
  right: 0;
  top: -0.2rem;
}

.folder.active.incomplete {
  animation: colorchange 20s;
  animation-iteration-count: infinite;
}

.folder.active.incomplete .progress {
  /* Not using this now */
  /* background-color: #fffaad; */
}

.folder.active.incomplete .top,
.folder.active.incomplete .bottom,
.folder.active.incomplete .bottom .count {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

@keyframes colorchange {
  0%   { background: #d6a70e; }
  16%  { background: #75e57a; }
  32%  { background: #74e1ed; }
  50%  { background: #d1baff; }
  68%  { background: #ffafe2; }
  82%  { background: #ffbd60; }
  100% { background: #d6a70e; }
}

.folders .none {
  background-color: #393939;
  color: #999;
  margin: 20% auto 0;
  padding: 1rem 2rem;
  text-align: center;
}