.folders {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.folder {
    width: 25%;
    padding: 0.5rem;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.25s ease;
}

.folder.active {
    background: #d6a70e;
}

.folder.incomplete:not(.active) .top {
    color: #aaa;
    background: rgba(214, 167, 14, 0.1);
}

.folder.incomplete:not(.active) .bottom {
    color: #777;
    background: rgba(214, 167, 14, 0.1);
}

.folder.incomplete:not(.active) .bottom .count {
    background: transparent;
}

.folder .progress {
    top: 0;
    left: 0;
    z-index: 1;
    height: 0.4rem;
    position: absolute;
}

.folder .top {
    color: #aaa;
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 2rem;
    background: #2d2d2d;
    padding: 0.4rem 0.8rem 0;
}

.folder .top .name {
    z-index: 2;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}

.folder .bottom {
    color: #555;
    overflow: hidden;
    font-size: 0.9rem;
    line-height: 2rem;
    position: relative;
    background: #2d2d2d;
    white-space: nowrap;
    padding: 0 0 0.2rem 0.8rem;
    border-right: 0.8rem solid rgba(0, 0, 0, 0);
}

.folder .bottom .count {
    right: 0;
    top: -0.2rem;
    padding: 0.2rem;
    position: absolute;
    background: #2d2d2d;
}

.folder.active.incomplete {
    animation: colorchange 20s;
    animation-iteration-count: infinite;
}

.folder.active.incomplete .progress {
    /* Not using this now */
    /* background-color: #fffaad; */
}

.folder.active.incomplete .top,
.folder.active.incomplete .bottom,
.folder.active.incomplete .bottom .count {
    background: transparent;
    color: rgba(0, 0, 0, 0.6);
}

@keyframes colorchange {
  0%   { background: #d6a70e; }
  16%  { background: #75e57a; }
  32%  { background: #74e1ed; }
  50%  { background: #d1baff; }
  68%  { background: #ffafe2; }
  82%  { background: #ffbd60; }
  100% { background: #d6a70e; }
}

.folders .none {
    color: #999;
    padding: 1rem 2rem;
    text-align: center;
    margin: 20% auto 0;
    background-color: #393939;
}