form {
    width: 60%;
    min-width: 40rem;
    max-width: 60rem;
    margin: 4rem auto 0;
}

form h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

form label {
    text-align: right;
    font-weight: normal;
    padding-top: 0.5rem;
}

form .buttons {
    margin-top: 2rem;
}

form .note {
    color: #666;
    top: -1.25rem;
    font-size: 1rem;
    text-align: right;
    position: relative;
}

form .note a {
    color: #666;
}

form .note:hover {
    color: #999;
}

form .note:hover a {
    color: #aaa;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 2.2em;
    line-height: 2em;
    padding: 0 0.75em;
    background-color: #555;
    border: 1px solid #222;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #ab51c4;
    background-color: #555;
}