form {
  margin: 4rem auto 0;
  max-width: 60rem;
  min-width: 40rem;
  width: 60%;
}

form h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

form h1.alt-title {
  display: none;
}

form label {
  font-weight: normal;
  padding-top: 0.5rem;
  text-align: right;
}

form .buttons {
  margin-top: 2rem;
}

form .note {
  color: #666;
  font-size: 1rem;
  position: relative;
  text-align: right;
  top: -1.25rem;
}

form .note a {
  color: #666;
}

form .note:hover {
  color: #999;
}

form .note:hover a {
  color: #aaa;
}

input[type="text"],
input[type="email"] {
  background-color: #555;
  border: 1px solid #222;
  height: 2.2em;
  line-height: 2em;
  padding: 0 0.75em;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus {
  background-color: #555;
  border-color: #ab51c4;
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button.button-primary[disabled],
button.button-primary[disabled]:hover,
button.button-primary[disabled]:focus {
  background: #444;
  border-color: #444;
  color: #666;
}