@media (min-width: 1200px) {
    html {
        font-size: 87.5%;
    }
    .folder {
        width: calc(100%/5);
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 100%;
    }
    .folder {
        width: calc(100%/6);
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 110%;
    }
    .folder {
        width: calc(100%/6);
    }
}