parameters:
    level: 5
    paths:
        - src
        - libremail
        - sync
        - server
    bootstrapFiles:
        - config/constants.php
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
