/**
 * Navigation and Header
 *
 * z-index range: 20
 */

header {
    border-bottom: 4px solid #C56BDE; /* ccc*/
    height: 5rem;
    width: 100%;
    background: #f1f1f1;
}

#logo {
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 0;
    padding-left: 2rem;
}

#topnav {
    height: 5rem;
    padding: 0.75rem;
    text-align: right;
}

#compose {
    line-height: 3.5rem;
    text-transform: uppercase;
}

nav a {
    color: #333;
    font-size: 1.4rem;
    text-decoration: none;
}

nav a.mailbox {
    display: block;
    margin-right: 2rem;
}

nav li.active a {
    color: #ab51c4;
    font-weight: bold;
}

nav {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding-top: 1.75rem;
    padding-left: 2rem;
    position: fixed;
    top: 5rem;
    width: 20rem;
}

nav li {
    line-height: 1;
    padding-bottom: 0.4rem;
    padding-top: 0.25rem;
}

nav li:hover {
    background: #f1f1f1;
}

nav li:not(.active):hover a {
    color: #000;
}

nav #nav-wrapper {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding-left: 1.25rem;
    position: fixed;
    top: 12.25rem;
    width: 16.5rem;
}

nav #mailboxes {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

nav #mailboxes li {
    margin-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

nav #folders {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
}

nav #folders li {
    margin-bottom: 0rem;
    padding-left: 2rem;
    position: relative;
}

nav #folders li.w-sub:before {
    content: '\f0da';
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3rem;
    left: 0.75rem;
    position: absolute;
    top: 0.5rem;
    width: 1.25rem;
}

nav #folders a.color {
    float: right;
    height: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.45rem;
    width: 1.2rem;
}

/**
 * Actions Menu
 * This is the menu above the mailboxes that allows for interactivity
 * with the messages when they're selected.
 */
section #msg-actions {
    border-bottom: 1px solid #ddd;
    height: 4.5rem;
    margin-right: 2rem;
    padding-top: 1.75rem;
}

section #msg-actions a.button {
    margin-bottom: 0;
}

.menu {
    z-index: 20;
}

.menu .control {
    margin-right: 0.75rem;
}

#actions-menu {
    background: #fff;
    display: none;
    position: fixed;
    top: calc(6.75rem);
}